* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Uniform;
    src: url(./assets/fonts/Uniform.ttf);
}

body {
    font-family: Uniform;
}

header {
    background-color: rgb(24, 108, 176);
    padding: 10px;
    color: white;
}

#ad {
	background-color: rgb(241, 241, 92);
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	z-index: 1;
}

#ad p {
	width: 98%;
	padding: 10px 0;
	text-align: center;
}

#ad span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

#ad span:hover {
	background-color: rgb(225, 225, 48);
	cursor: pointer;
}

#float_button {
	background-color: #dc5f5f;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 20px;
	border-radius: 50px;
	display: none;
	justify-content: center;
	align-items: center;

	position: fixed;
	bottom: 20px;
	right: 20px;
}

#titre_header{
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    padding:15px;
    font-size: 15px;
    
}

#block_moncompte_espacepro{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    font-size: 15px;

}

.icons_header{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-left: 15px;
    padding: 5px;
}

.moncompte_texte{
    margin-right: 10px;
}

#image_navbar_{
    margin: 5px 15px;
}

.image_leformateur_navbar{
    width: 98%;
    margin: 20px 15px;
    position: relative;
}

#content_sur_image_navbar{
    color: white;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    text-align: start;
    width: 26%;
    top: 135px;
    right: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    padding:0px 0px 30px 30px;
    border-radius: 5px;
    border: none;
}

#texte_sur_image_navbar{
    margin-bottom: 15px;
    padding: 20px 5px 0px 5px;
}

#boutton_jouer {
    font-size: 35px;
    padding: 10px 200px;
    background-color: rgb(208, 55, 55);
    color: white;
    border: none;
    border-radius: 2px;
}

#boutton_tarif , #boutton_film {
    max-width: 100%;
    padding: 20px 23%;
    font-size: 25px;
    background-color: rgb(20, 81, 132);
    color: white;
    border: none;
}

#boutton_tarif {
    margin-right: 15px;
    margin-left: 15px;
}


#titre_tarifs , #titre_films {
    margin: 15px;
    color: rgb(20, 81, 132);
}

#block_formule_illimity{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#block_formule_solo{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#formule_illimity_et_infos{
 background-color: rgb(236, 236, 236);
 margin: 10px 50px;
 padding: 5px;
 box-shadow: 2px 2px rgb(211, 210, 210);
 border-radius: 2px;
}

#formule_solo_et_infos{
    background-color: rgb(236, 236, 236);
    margin: 10px 50px;
    padding: 5px;
    box-shadow: 2px 2px rgb(211, 210, 210);
    border-radius: 2px;
}

.texte_formules {
    font-weight: bold;
    margin: 0;
}

.texte_prix{
    margin: 0;
}
.texte_infos{
    margin:0px;
    font-size: 20px;
}

#block_film_a_laffiche{
    background-color: rgb(236, 236, 236);
    margin: 10px 50px;
    padding: 5px;
    box-shadow: 2px 2px rgb(211, 210, 210);
    border-radius: 2px;
}

.image_film {
    width: 150px;
    height: 220px;
    margin: 20px 5px;
    background-color: white;
    padding: 5px
}

#infos_le_formateur {
    display: flex;
    align-items: first baseline;
    margin-top: 20px;
}

#block_film_le_formateur{
    display: flex;
     justify-content: flex-start;
}

#content_le_formateur {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.texte_resume_film {
    padding: 0;
    margin: 10px 5px;
    width: 30%;
    text-align: end;
    font-size: 20px;
}

.titre_du_film{
    padding: 0px 10px;
    font-size: 30px;
}


.date_de_sortie{
    font-weight: bold;
    font-size: 20px;
}

.image_etoile {
    width: 150px;
}

#texte_comedie{
    background-color: rgb(79, 139, 26);
    width: 45%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
#texte_action{
    background-color: rgb(109, 39, 162);
    width: 45%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 5px;
}

#texte_sf{
    background-color: rgb(121, 72, 8);
    width: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

#categorie_de_film{
    display: flex;

}
#petit_texte{
    padding: 0px 10px;
}

#premiere_seance_film_le_formateur , #deuxieme_seance_film_le_formateur, #troisieme_seance_film_le_formateur{
    display: flex;
    justify-content: space-around;
    width: 15%;
    background-color:rgb(20, 81, 132) ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    margin: 15px 20px;
    border-radius: 6px;
    text-align: center;
}

.icons_seance {
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

#texte_complet {
    background-color: rgb(255, 234, 97);
    color: black;
    padding: 5px;
}

#block_les_seances{
    display: flex;
    background-color: rgb(196, 196, 196);
    margin: 5px;
}

#texte_footer{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 108, 176) ;
    margin-top: 25px;
    padding: 15px;
    color: white;
}

@media screen and (max-width:480px){

    #espacepro{
        display: none;
    }

    #titre_header{
        font-size: 15px;
    }

    #image_navbar {
        display: none;
    }

    #content_sur_image_navbar{
        display: none;
    }
    
    #boutton_tarif , #boutton_film {
       margin: 15px;
       padding: 15px 80px;
       font-size: 15px;
    }

    

    #formule_illimity_et_infos , #formule_solo_et_infos{
        background-color: rgb(236, 236, 236);
        margin: 10px 50px;
        padding: 5px;
        box-shadow: 2px 2px rgb(211, 210, 210);
        border-radius: 2px;
        width: 90%;
       }

    .texte_infos{
        margin:0px;
        font-size: 20px;
        width: 60%;
    }   
    
}