#titre_main {
    margin: 15px;
    color: rgb(20, 81, 132);
}

#block_formule_illimity{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#block_formule_solo{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#formule_illimity_et_infos{
 background-color: rgb(236, 236, 236);
 margin: 10px 50px;
 padding: 5px;
}

#formule_solo_et_infos{
    background-color: rgb(236, 236, 236);
    margin: 10px 50px;
    padding: 5px;
}

.texte_formules {
    font-weight: bold;
    margin: 0;
}

.texte_prix{
    margin: 0;
}
.texte_infos{
    margin:0px;
    font-size: 20px;
}